# Data Cleaning in Python
The examples and code in this notebook are taken from the [Kaggle Data Cleaning Challenge](https://www.kaggle.com/getting-started/52652)

Detailed explanations for important code snippets are provided by Mervat Abuelkheir as part of the CSEN1095 Data Engineering Course.

The goal of this notebook is to show how to handle missing values and noisy data.

Pay attention to the <span style="color:red"> <b> paragraphs in bold red</b></span>; they ask you to do something and provide input!

## Inspecting the data

First thing we need to do is import a dataset.

<br>We will work in this exercise with the <a href="https://www.kaggle.com/maxhorowitz/nflplaybyplay2009to2016#NFL%20Play%20by%20Play%202009-2017%20(v4).csv"> NFL dataset</a>. The NFL dataset is available in the repository's data folder, and is made available on Kaggle. It contains all the regular season plays from the 2009-2016 NFL seasons. The dataset has 100 columns. Each play contains information on: game situation, players involved, results, and advanced metrics such as expected point and win probability values.

### Important note

<b>The NFL dataset is very big (200+ MB) and is not made available in the `data` folder in this repository. Download the dataset from the link provided, store it in your own data or working directory, and proceed with running the code below, taking care to change your directory according to your own data storage location.</b>

<b>For large datasets, you will be provided with a link through which you can download the data. Another option is to read from the html link, provided the data is well-organized to help with proper parsing.</b>

In [3]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nfl_data = pd.read_csv("data/NFL Play by Play 2009-2017 (v4).csv")

# set seed for reproducibility
np.random.seed(0)

In [4]:
# Look at a few rows of the nfl_data file. A handful of missing data!
nfl_data.sample(4)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
244485,2014-10-26,2014102607,18,3,1.0,00:39,1,939.0,12.0,TB,...,1.240299,0.225647,0.774353,0.245582,0.754418,0.225647,0.019935,-0.018156,0.038091,2014
115340,2011-11-20,2011112000,22,4,1.0,06:47,7,407.0,44.0,OAK,...,NaN,0.056036,0.943964,0.042963,0.957037,0.943964,0.013073,NaN,NaN,2011
68357,2010-11-14,2010111401,8,2,NaN,00:23,1,1823.0,0.0,CLE,...,NaN,0.365307,0.634693,0.384697,0.615303,0.634693,-0.019390,NaN,NaN,2010
368377,2017-09-24,2017092405,24,4,1.0,08:48,9,528.0,8.0,CLE,...,1.075660,0.935995,0.064005,0.921231,0.078769,0.064005,0.014764,0.003866,0.010899,2017

## See how many missing data points we have

Let's see how many we have in each column. Let's start with the NFL dataset.

In [5]:
# get the number of missing data points per column
missing_values_count_nfl = nfl_data.isnull().sum()

# look at the # of missing points in the first ten columns
print(missing_values_count_nfl)

Date                                0
GameID                              0
Drive                               0
qtr                                 0
down                            61154
time                              224
TimeUnder                           0
TimeSecs                          224
PlayTimeDiff                      444
SideofField                       528
yrdln                             840
yrdline100                        840
ydstogo                             0
ydsnet                              0
GoalToGo                          840
FirstDown                       28811
posteam                         24992
DefensiveTeam                   24992
desc                                2
PlayAttempted                       0
Yards.Gained                        0
sp                                  0
Touchdown                           0
ExPointResult                  397578
TwoPointConv                   407083
DefTwoPoint                    407664
Safety                              0
Onsidekick                          0
PuntResult                     385317
PlayType                            0
                                ...
AwayTeam                            0
Timeout_Indicator                   0
Timeout_Team                        0
posteam_timeouts_pre                0
HomeTimeouts_Remaining_Pre          0
AwayTimeouts_Remaining_Pre          0
HomeTimeouts_Remaining_Post         0
AwayTimeouts_Remaining_Post         0
No_Score_Prob                     176
Opp_Field_Goal_Prob               176
Opp_Safety_Prob                   176
Opp_Touchdown_Prob                176
Field_Goal_Prob                   176
Safety_Prob                       176
Touchdown_Prob                    176
ExPoint_Prob                        0
TwoPoint_Prob                       0
ExpPts                            176
EPA                               369
airEPA                         248394
yacEPA                         248498
Home_WP_pre                     24954
Away_WP_pre                     24954
Home_WP_post                    26587
Away_WP_post                    26587
Win_Prob                        25009
WPA                              5541
airWPA                         248501
yacWPA                         248762
Season                              0
Length: 102, dtype: int64

There are a lot of missing values it seems! Let's take a look at the percentage of the missing values in the dataset.

In [6]:
# How many total missing values do we have?
# shape returns the dimentionality of a dataframe (rows and columns), can you guess what product will do?
total_cells_nfl = np.product(nfl_data.shape) 
total_missing_nfl = missing_values_count_nfl.sum()

# percent of data that is missing
percentage_missign_values_nfl = (total_missing_nfl/total_cells_nfl) * 100
print(percentage_missign_values_nfl)

24.87214126835169

Almost a quarter of the cells in this dataset are empty! 

In the next step, we're going to take a closer look at some of the columns with missing values and try to figure out what might be going on with them.

## Examining the missing values

This is the point where you should develop some data intuition and look at the data to try and figure out why it is the way it is and how that will affect your analysis. For dealing with missing values, you'll need to use your intution to figure out why the value is missing. One of the most important question you can ask yourself to help figure this out is this:

**Is this value missing becuase it wasn't recorded or becuase it dosen't exist?**

If a value is missing becuase it doens't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values you probably do want to keep as `NaN`. On the other hand, if a value is missing becuase it wasn't recorded, then you can try to guess what it might have been based on the other values in that column and row. (This is called "imputation" and we'll learn how to do it next! :)

Let's work through an example. Looking at the number of missing values in the nfl_data dataframe, notice that the column TimesSec has a lot of missing values in it:

In [7]:
# look at the # of missing points in the first ten columns
missing_values_count_nfl[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

The `TimeSecs` column has information on the number of seconds left in the game when the play was made. This means that these values are probably missing because they were not recorded, rather than because they don't exist. So, it would make sense for us to try and guess what they should be rather than just leaving them as NA's.

On the other hand, there are other fields, like `PenalizedTeam` that also have lot of missing fields. In this case, though, the field is missing because if there was no penalty then it doesn't make sense to say which team was penalized. For this column, it would make more sense to either leave it empty or to add a third value like "neither" and use that to replace the NA's.

**Tip: This is a great place to read over the dataset documentation if you haven't already! If you're working with a dataset that you've gotten from another person, you can also try reaching out to them to get more information.**

You should look at each column individually to figure out the best strategy for filling those missing values. For the rest of this notebook, we'll cover some "quick and dirty" techniques that can help you with missing values but will probably also end up removing some useful information or adding some noise to your data.

## Dropping the missing values

If you don't have a reason to figure out why your values are missing, one option you have is to just remove any rows or columns that contain missing values. (Note: DO NOT do this approch for important projects! It's usually worth it to take the time to go through your data and really look at all the columns with missing values one-by-one to really get to know your dataset.)  

If you're sure you want to drop rows with missing values, pandas does have a handy function, `dropna()` to help you do this. Let's try it out on our NFL dataset!

In [8]:
# remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

Oops! That's removed all our data! <span style="color:red"><b>Why do you think this happened?</b></span>

We might have better luck removing all the columns that have at least one missing value instead.

In [9]:
# Remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1) # axis 1 indicates operation along columns
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

Let's check how much data we lost.

In [10]:
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

We've lost quite a bit of data, but at this point we have successfully removed all the `NaN`'s from our data.

# Filling in missing values automatically

Another option is to try and fill in the missing values. Let's get a small sub-section of the NFL data so that it will print well and work with that to avoid having to work with the entire dataset and consume CPU time. You can work on the entire dataset at home!

In [11]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

We can use the Panda's fillna() function to fill in missing values in a dataframe for us. One option we have is to specify what we want the `NaN` values to be replaced with. Here, I'm saying that I would like to replace all the `NaN` values with 0.

In [12]:
# replace all NA's with 0
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

We could also be a bit more savvy and replace missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [13]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_nfl_data.fillna(method = 'bfill', axis=0).fillna(0) # here you may want to explore other methods like 'mean' if it makes sense

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

## Trying multivariate imputation with sklearn

sklearn has an `Imputer` and a `SimpleImputer` modules which perform imputation on one column at a time using the mean, median, or mode. 

sklearn also has a multivariate imputation module, `IterativeImputer`, that can help us impute values across multiple columns, but it is experimental and only available through developer release.

Let's see how an sklearn's imputation works for the NFL dataset.

In [14]:
from sklearn.preprocessing import Imputer
#from sklearn.impute import SimpleImputer # pretty much the same thing, you can try yourself
mean_imputer = Imputer(missing_values=np.nan, strategy='mean')
#mean_simpleimputer = SimpleImputer(missing_values=np.nan, strategy='mean') # Same use for sklearn SimpleImputer

# Again, let's get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()

# Check the presence of null values in the subset chosen
subset_nfl_data.isnull().sum()

H:\DataScienceWork\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

EPA             0
airEPA          3
yacEPA          3
Home_WP_pre     0
Away_WP_pre     0
Home_WP_post    0
Away_WP_post    0
Win_Prob        0
WPA             0
airWPA          3
yacWPA          3
Season          0
dtype: int64

In [15]:
# Now let's impute missing values in yacWPA column with the mean
mean_imputer.fit(subset_nfl_data[["yacWPA"]])
subset_nfl_data[["yacWPA"]]=mean_imputer.transform(subset_nfl_data[["yacWPA"]]).ravel()
#imputed_subset_nfl_data = pd.DataFrame(mean_simpleimputer.fit_transform(subset_nfl_data), columns=subset_nfl_data.columns) # fitting and transforming can be done in one step

# Let's check the presence null values again to see if imputation worked for the column
subset_nfl_data.isnull().sum()
# add you own counting of nulls for the dataframe imputed by SimpleImputer

EPA             0
airEPA          3
yacEPA          3
Home_WP_pre     0
Away_WP_pre     0
Home_WP_post    0
Away_WP_post    0
Win_Prob        0
WPA             0
airWPA          3
yacWPA          0
Season          0
dtype: int64

In [16]:
# Print the dataframe 
print(subset_nfl_data)
#print(imputed_subset_nfl_data) # if you want to try SimpleImputer code
# You may want to try the same code snippets above with the entire dataset and not just the subset

        EPA    airEPA    yacEPA  Home_WP_pre  Away_WP_pre  Home_WP_post  \
0  2.014474       NaN       NaN     0.485675     0.514325      0.546433
1  0.077907 -1.068169  1.146076     0.546433     0.453567      0.551088
2 -1.402760       NaN       NaN     0.551088     0.448912      0.510793
3 -1.712583  3.318841 -5.031425     0.510793     0.489207      0.461217
4  2.097796       NaN       NaN     0.461217     0.538783      0.558929

   Away_WP_post  Win_Prob       WPA    airWPA    yacWPA  Season
0      0.453567  0.485675  0.060758       NaN -0.059670    2009
1      0.448912  0.546433  0.004655 -0.032244  0.036899    2009
2      0.489207  0.551088 -0.040295       NaN -0.059670    2009
3      0.538783  0.510793 -0.049576  0.106663 -0.156239    2009
4      0.441071  0.461217  0.097712       NaN -0.059670    2009

Now let's try the more advanced `IterativeImputer` in sklearn. It provides means to do multivariate imputation using a variety of ML models.

In [17]:
# This code snippet may not work, so do not worry about it, and just examine the similarities with the SimpleImputer
# To use this experimental feature, we need to explicitly ask for it:
from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge # Imputation via linear regression
from sklearn.neighbors import KNeighborsRegressor # Imputation via KNN
# Define imputer
reg_imputer = IterativeImputer(BayesianRidge, max_iter=5, random_state=0)
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
imputed_subset_nfl_data = pd.DataFrame(mean_simpleimputer.fit_transform(subset_nfl_data), columns=subset_nfl_data.columns)
print(imputed_subset_nfl_data)

ModuleNotFoundError: No module named 'sklearn.experimental'

## <span style="color:red"> Exercise 1: Missing value handling on the San Francisco Building Permits Dataset </span>

<span style="color:red"><b> The <a href="https://www.kaggle.com/aparnashastry/building-permit-applications-data#Building_Permits.csv"> Building permits dataset</a> pertains to all types of structural permits from Jan 1, 2013-Feb 25th 2018 in San Francisco. Data includes details on application/permit numbers, job addresses, supervisorial districts, and the current status of the applications. A data dictionary for the dataset is available in the data folder in this repository.</b></span>

<span style="color:red"> <b>The dataset is rather big and does not exist in the "data" folder in this repository. Download the dataset from the link provided and store it in your own data or working folder. Import the dataset in the next cell, and work your way through the steps in the subsequent cells.</b></span>

In [1]:
import pandas as pd
import numpy as np

sf_permits = pd.read_csv("data/Building_Permits.csv", low_memory=False)
sf_permits.loc[sf_permits["Street Number Suffix"] == "A"]

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
92,201408254591,8,otc alterations permit,08/25/2014,3509,029,63,A,Grace,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,South of Market,94103.0,"(37.774944547030586, -122.41443674356925)",1353299454075
164,201707141931,2,new construction wood frame,07/14/2017,1193,048,2150,A,Hayes,St,...,NaN,NaN,5.0,wood frame (5),Y,5.0,Lone Mountain/USF,94117.0,"(37.77347316353236, -122.45200535060522)",147059391960
273,M829468,8,otc alterations permit,09/08/2017,3702,390,33,A,08th,St,...,NaN,NaN,NaN,NaN,NaN,6.0,South of Market,94103.0,"(37.77850219390184, -122.413426065671)",1478111509834
639,201301037165,8,otc alterations permit,01/03/2013,0535,029,2327,A,Filbert,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Marina,94123.0,"(37.797469404717916, -122.43776016525479)",1292270372484
907,201301077359,8,otc alterations permit,01/07/2013,3556,030,261,A,Dolores,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Mission,94103.0,"(37.765326601968276, -122.42589274563393)",1292543459883
911,201301077360,8,otc alterations permit,01/07/2013,3556,030,261,A,Dolores,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Mission,94103.0,"(37.765326601968276, -122.42589274563393)",1292547459883
1240,M365727,8,otc alterations permit,01/10/2013,1245,020,634,A,Clayton,St,...,NaN,NaN,NaN,NaN,NaN,5.0,Haight Ashbury,94117.0,"(37.769357589264224, -122.44816096846559)",1292887489444
1241,M365727,8,otc alterations permit,01/10/2013,1245,020,636,A,Clayton,St,...,NaN,NaN,NaN,NaN,NaN,5.0,Haight Ashbury,94117.0,"(37.769357589264224, -122.44816096846559)",1292888489445
1242,M365727,8,otc alterations permit,01/10/2013,1245,020,638,A,Clayton,St,...,NaN,NaN,NaN,NaN,NaN,5.0,Haight Ashbury,94117.0,"(37.769357589264224, -122.44816096846559)",1292889489447
1292,201301107675,8,otc alterations permit,01/10/2013,0133,015,436,A,Vallejo,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,North Beach,94133.0,"(37.79937269285414, -122.40472042650588)",1292943349376
1522,201301147867,8,otc alterations permit,01/14/2013,4039,016,333,A,Mississippi,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Potrero Hill,94107.0,"(37.7620393401157, -122.39421838873768)",1293189449272
1863,201301168148,8,otc alterations permit,01/16/2013,5518,023,28,A,Precita,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.74647122363922, -122.41849703153119)",1293538484424
1892,201301178173,8,otc alterations permit,01/17/2013,4965,026,3103,A,Ingalls,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Bayview Hunters Point,94124.0,"(37.719452195825376, -122.39249188327904)",1293572391752
2196,M367587,8,otc alterations permit,01/22/2013,3582,057,4094,A,18th,St,...,NaN,NaN,NaN,NaN,NaN,8.0,Castro/Upper Market,94114.0,"(37.761094951435695, -122.43470134369066)",1293892390883
2628,201301248620,3,additions alterations or repairs,01/24/2013,0176,031,845,A,Montgomery,St,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Chinatown,94133.0,"(37.79687404011798, -122.40389771074895)",1294352459006
2841,M368689,8,otc alterations permit,01/29/2013,1237,023,118,A,Broderick,St,...,NaN,NaN,NaN,NaN,NaN,5.0,Haight Ashbury,94117.0,"(37.77172701925825, -122.43858048429546)",1294569489533
2908,201301299029,8,otc alterations permit,01/29/2013,6968,014,5026,A,Mission,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,11.0,Outer Mission,94112.0,"(37.718197799989454, -122.44008284175581)",1294640470860
3039,201301309139,8,otc alterations permit,01/30/2013,3578,028,491,A,Dolores,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Mission,94110.0,"(37.76167671318951, -122.42571547533237)",1294777272608
3263,201302019320,8,otc alterations permit,02/01/2013,2772,059,516,A,Diamond,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94114.0,"(37.75375715029139, -122.4368930042448)",1295010457968
3402,201302049435,8,otc alterations permit,02/04/2013,3729,062,771,A,Tehama,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,South of Market,94103.0,"(37.77485798918811, -122.41197941525277)",1295156261523
3445,201302059475,8,otc alterations permit,02/05/2013,3726,098,511,A,Minna,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,South of Market,94103.0,"(37.78012066301633, -122.40840393677958)",1295203434185
3560,201302069568,8,otc alterations permit,02/06/2013,0847,040,309,A,Steiner,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Haight Ashbury,94117.0,"(37.772282977539916, -122.4325301895444)",1295322424419
3671,M370288,8,otc alterations permit,02/07/2013,3726,098,511,A,Minna,St,...,NaN,NaN,NaN,NaN,NaN,6.0,South of Market,94103.0,"(37.78012066301633, -122.40840393677958)",1295440434185
3738,201302079717,8,otc alterations permit,02/07/2013,5712,022,3597,A,Mission,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.73899082977226, -122.42371331607107)",1295510251018
3786,201302089756,8,otc alterations permit,02/08/2013,3602,031,251,A,Hartford,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.75857381722444, -122.43334887808265)",1295561451047
4132,201302120033,8,otc alterations permit,02/12/2013,0657,011,2456,A,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Pacific Heights,94115.0,"(37.78685144915281, -122.43778531541366)",1295917470605
4134,201302120034,8,otc alterations permit,02/12/2013,0657,011D,2454,A,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Pacific Heights,94115.0,"(37.786917427820434, -122.43779869606138)",1295919487494
4214,201302130094,8,otc alterations permit,02/13/2013,4275,008,1360,A,Hampshire,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Mission,94110.0,"(37.75050792610115, -122.40734055776315)",1296000449786
4245,M371387,8,otc alterations permit,02/13/2013,0218,018,1534,A,Larkin,St,...,NaN,NaN,NaN,NaN,NaN,3.0,Nob Hill,94109.0,"(37.79224362225702, -122.41901410623065)",1296032385209
4508,201302119974,8,otc alterations permit,02/11/2013,1020,016,436,A,Laurel,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Presidio Heights,94118.0,"(37.787321543273976, -122.44985029194308)",1296307461944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196432,201802020265,8,otc alterations permit,02/02/2018,2804,031,601,A,Diamond,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94114.0,"(37.75265290526813, -122.43612737964668)",1495748246167
196481,201606149938,3,additions alterations or repairs,06/14/2016,4260,014,1379,A,Kansas,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,10.0,Potrero Hill,94107.0,"(37.752238224909426, -122.402071098258)",1495798510670
196712,201607011383,3,additions alterations or repairs,07/01/2016,2698,010,274,A,Diamond,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.75799923285273, -122.43725626577263)",1496043510694
196885,201607011423,3,additions alterations or repairs,07/01/2016,6597,007S,134,A,Tiffany,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,8.0,Bernal Heights,94110.0,"(37.74499241554082, -122.42163861138275)",1496228510695
196886,201607011423,3,additions alterations or repairs,07/01/2016,6597,007S,140,A,Tiffany,Av,...,5.0,wood frame (5),5.0,wood frame (5),Y,8.0,Bernal Heights,94110.0,"(37.74499241554082, -122.42163861138275)",1496229510697
196970,201802070668,8,otc alterations permit,02/07/2018,2804,031,601,A,Diamond,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94114.0,"(37.75265290526813, -122.43612737964668)",1496324246167
197066,201505186604,3,additions alterations or repairs,05/18/2015,1383,031,258,A,24th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Outer Richmond,94121.0,"(37.78470603793212, -122.48366775321529)",1496427510703
197167,201802080820,8,otc alterations permit,02/08/2018,0865,029,71,A,Potomac,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Haight Ashbury,94117.0,"(37.770457919182476, -122.43288131357255)",1496533448187
197339,201802020214,8,otc alterations permit,02/02/2018,2650,010,74,A,Eureka,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.76120325972073, -122.4386351694503)",1496725510712
197467,201802121054,8,otc alterations permit,02/12/2018,5684,013,3839,A,Folsom,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.73847429524811, -122.41315978880458)",1496864437167
197501,201802131101,8,otc alterations permit,02/13/2018,3706,096,760,A,Mission,St,...,1.0,constr type 1,1.0,constr type 1,NaN,6.0,Financial District/South Beach,94103.0,"(37.78543487410201, -122.40436594960443)",1496902448723
197527,201802131118,8,otc alterations permit,02/13/2018,0073,022,821,A,Lombard,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Russian Hill,94133.0,"(37.80228627270851, -122.41505590065215)",1496929510714
197547,201802131131,8,otc alterations permit,02/13/2018,5720,010,269,A,Richland,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.736046065225295, -122.4211329736751)",1496952510489
197552,201802131131,8,otc alterations permit,02/13/2018,5720,010,271,A,Richland,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Bernal Heights,94110.0,"(37.736046065225295, -122.4211329736751)",1496957510488
197565,201802131137,8,otc alterations permit,02/13/2018,3648,059,276,A,Fair Oaks,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1496972509743
197595,201802131160,8,otc alterations permit,02/13/2018,0519,016,1884,A,Filbert,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Marina,94123.0,"(37.79890438553067, -122.43041731552374)",1497002365900
197811,201802141326,8,otc alterations permit,02/14/2018,1180,008,1214,A,Fulton,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Western Addition,94117.0,"(37.777254292013545, -122.43732379252509)",1497232491869
198125,201802201635,8,otc alterations permit,02/20/2018,1274,029,245,A,Carl,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Inner Sunset,94117.0,"(37.76506258108765, -122.4534851139968)",1497629450079
198380,M891588,8,otc alterations permit,02/21/2018,0935,007,3134,A,Broderick,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Marina,94123.0,"(37.79937821117536, -122.4441089804348)",1497827510743
198385,201802211803,8,otc alterations permit,02/21/2018,0935,007,3134,A,Broderick,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Marina,94123.0,"(37.79937821117536, -122.4441089804348)",1497832510743
198460,201802211856,8,otc alterations permit,02/21/2018,4100,003C,514,A,Missouri,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Potrero Hill,94107.0,"(37.75947164894915, -122.39654261281224)",1497909425732
198579,201802221946,8,otc alterations permit,02/22/2018,2698,026A,249,A,Eureka,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.75831169685878, -122.43771770609925)",1498031282728
198587,201802221949,8,otc alterations permit,02/22/2018,2698,026A,249,A,Eureka,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Castro/Upper Market,94114.0,"(37.75831169685878, -122.43771770609925)",1498039282728
198706,201802222042,8,otc alterations permit,02/22/2018,7515A,013,5082,A,Diamond Heights,Bl,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94131.0,"(37.746544158037835, -122.44246523432001)",1498158226854
198708,201802222043,8,otc alterations permit,02/22/2018,7515A,027,5094,A,Diamond Heights,Bl,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94131.0,"(37.746674955692704, -122.44195678265855)",1498160226868
198711,201802222045,8,otc alterations permit,02/22/2018,7515A,040,5110,A,Diamond Heights,Bl,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94131.0,"(37.74682173347771, -122.44145873065209)",1498163399154
198713,201802222046,8,otc alterations permit,02/22/2018,7515A,001,5070,A,Diamond Heights,Bl,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94131.0,"(37.746413021076705, -122.44297324181564)",1498165253041
198771,201802232097,8,otc alterations permit,02/23/2018,3117,049A,425,A,Monterey,Bl,...,5.0,wood frame (5),5.0,wood frame (5),NaN,7.0,West of Twin Peaks,94112.0,"(37.73135521046475, -122.44488173732859)",1498225390708
198803,201802232123,8,otc alterations permit,02/23/2018,6655,080,305,A,30th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Glen Park,94131.0,"(37.741798811634375, -122.42712285786553)",1498258493911
198851,201504153737,3,additions alterations or repairs,04/15/2015,6685,049,240,A,Chenery,St,...,5.0,wood frame (5),5.0,wood frame (5),Y,8.0,Glen Park,94131.0,"(37.73832420066468, -122.42656228166192)",1498307510751

<span style="color:red"> <b>Find out what percent of the building permits dataset is missing. </b></span>
<span style="color:red"> <b><br>Write down your code in the following cell. </b></span>

In [2]:
missing_count = sf_permits.isnull().sum().sum()
total_count = np.product(sf_permits.shape)
percentage = missing_count / total_count
percentage

0.2626002315058403

<span style="color:red"><b>Write a code to check the values of the `Street Number Suffix` and `Zipcode` from the building permits datasets. Both of these contain missing values. Which, if either, of these are missing because they don't exist? Which, if either, are missing because they weren't recorded?</b></span>

In [3]:
print(sf_permits["Street Number Suffix"].head()) #could be non-existant
print(sf_permits["Zipcode"].head()) #missing because it's not recorded

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Street Number Suffix, dtype: object
0    94102.0
1    94102.0
2    94109.0
3    94109.0
4    94102.0
Name: Zipcode, dtype: float64

<span style="color:red"><b>See if you can drop the missing values from the building permits dataset and still keep some data, or drop the columns with missing values and see if you have columns still.</b></span>

In [4]:
sf_permits.dropna() #no data remians
print("lost percentage of:", 1 - (sf_permits.dropna(axis=1).shape[1]/ sf_permits.shape[1]))

lost percentage of: 0.7209302325581395

<span style="color:red"><b>Try replacing all the `NaN`'s in the building permits data with the one that comes directly after it and then replacing any remaining `NaN`'s with 0.</b></span>

In [13]:
sf_permits = sf_permits.fillna(method = 'ffill', axis=0).fillna(0)
sf_permits = sf_permits.fillna(0)
sf_permits.isnull().sum() #no more missing values in the dataset

Permit Number                             0
Permit Type                               0
Permit Type Definition                    0
Permit Creation Date                      0
Block                                     0
Lot                                       0
Street Number                             0
Street Number Suffix                      0
Street Name                               0
Street Suffix                             0
Unit                                      0
Unit Suffix                               0
Description                               0
Current Status                            0
Current Status Date                       0
Filed Date                                0
Issued Date                               0
Completed Date                            0
First Construction Document Date          0
Structural Notification                   0
Number of Existing Stories                0
Number of Proposed Stories                0
Voluntary Soft-Story Retrofit             0
Fire Only Permit                          0
Permit Expiration Date                    0
Estimated Cost                            0
Revised Cost                              0
Existing Use                              0
Existing Units                            0
Proposed Use                              0
Proposed Units                            0
Plansets                                  0
TIDF Compliance                           0
Existing Construction Type                0
Existing Construction Type Description    0
Proposed Construction Type                0
Proposed Construction Type Description    0
Site Permit                               0
Supervisor District                       0
Neighborhoods - Analysis Boundaries       0
Zipcode                                   0
Location                                  0
Record ID                                 0
dtype: int64

<span style="color:red"><b>Create a new dataset at the ending with all missing values handled and store as a CSV file.</b></span>

In [5]:
sf_permits.to_csv("data/Cleaned Building Permits.csv")

## <span style="color:red"> Exercise 2: Missing value handling on the  Pima Indians Diabetes Dataset</span>

<span style="color:red"><b> The <a href= "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"> Pima Indians Diabetes Dataset</a> involves predicting the onset of diabetes within 5 years in Pima Indians given medical details.</b></span>

<span style="color:red">There are 768 observations with 8 input variables and 1 output variable. The variable names are as follows:</span>

<br><span style="color:red">0. Number of times pregnant.</span>
<br><span style="color:red">1. Plasma glucose concentration a 2 hours in an oral glucose tolerance test.</span>
<br><span style="color:red">2. Diastolic blood pressure (mm Hg).</span>
<br><span style="color:red">3. Triceps skinfold thickness (mm).</span>
<br><span style="color:red">4. 2-Hour serum insulin (mu U/ml).</span>
<br><span style="color:red">5. Body mass index (weight in kg/(height in m)^2).</span>
<br><span style="color:red">6. Diabetes pedigree function.</span>
<br><span style="color:red">7. Age (years).
<br><span style="color:red">8. Class variable (0 or 1).</span>

<span style="color:red"> <b>This is a medical dataset, so an important thing we will do with this dataset is that we will see if the statistical summaries can reveal something about the missing values.</b></span>

<span style="color:red"> <b>The dataset is available in the `data` folder in this repository. Import the dataset in the next cell, and work your way through the steps in the subsequent cells.</b></span>

In [108]:
import pandas as pd
import numpy as np

column_names = ["pregnant", "plasma", "blood_pressure", "triceps", "insulin", "BMI", "diabetes", "age", "class"]

pima = pd.read_csv("data/pima-indians-diabetes.data.csv", header=None, names=column_names)
pima.head()

,pregnant,plasma,blood_pressure,triceps,insulin,BMI,diabetes,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

<span style="color:red"> <b>Use the describe method used for pandas data frames to obtain a statistucal summary of the dataset.</b></span>

In [109]:
pima.describe()

,pregnant,plasma,blood_pressure,triceps,insulin,BMI,diabetes,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

<span style="color:red"><b>There are columns that have a minimum value of zero (0). On some columns, a value of zero does not make sense and indicates an invalid or missing value. For example, the `BMI` for a person cannot be 0. See if there are other columns/attributes whose value of 0 does not make sense. An understanding of the medical columns may be needed.</b></span>

In [110]:
(pima == 0).astype(int).sum(axis=0) #count of missing values of each column

pregnant          111
plasma              5
blood_pressure     35
triceps           227
insulin           374
BMI                11
diabetes            0
age                 0
class             500
dtype: int64

<span style="color:red"><b>Now you can proceed to check the missing values and remove/impute as in exercise 1. Create a new dataset at the ending with all missing values handled and store as a CSV file.</b></span>

In [111]:
imputed = pima.loc[pima["BMI"] != 0]
imputed = imputed.dropna(subset=['BMI'])

bloodPressureMean = imputed["blood_pressure"].mean()
imputed["blood_pressure"] = imputed["blood_pressure"].replace([0], bloodPressureMean)

(imputed == 0).astype(int).sum(axis=0) #count of missing values of each column

pregnant          108
plasma              5
blood_pressure      0
triceps           218
insulin           364
BMI                 0
diabetes            0
age                 0
class             491
dtype: int64

In [112]:
loss_percentage = imputed.shape[0] / pima.shape[0]
1 - loss_percentage

0.01432291666666663

In [113]:
imputed.to_csv("data/Cleaned pima.csv")